<div id="<%= dom_id project %>">
  <div>
    <strong>Title:</strong>
    <%= project.title %>
  </div>

  <div>
    <strong>Details:</strong>
    <%= project.details %>
  </div>

  <div>
    <strong>Expected completion date:</strong>
    <%= project.expected_completion_date %>
  </div>

  <div>
    <strong>Tenant:</strong>
    <%= project.tenant_id %>
  </div>

</div>
