<div class="page-header mb-4">
  <h3>Users for Project <%= @project.title %></h3>
  <strong>(Other than yourself)</strong>
</div>

<table class="table table-striped table-bordered">
  <thead class="table-light">
    <tr>
      <th>Email</th>
      <th><%= t('.actions', default: t("helpers.actions")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_users.each do |project_user| %>
      <tr>
        <td><%= project_user.email %></td>
        <td>
          <% unless project_user.is_admin? %>
            <% user_project = project_user.user_projects.find_by(project_id: @project.id) %>
            <% if user_project %>
              <%= link_to 'Remove',
                          remove_user_tenant_project_path(@tenant, @project, user_id: project_user.id),
                          method: :delete,
                          data: { confirm: t('.confirm', default: 'Are you sure?') },
                          class: 'btn btn-sm btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="mt-5">Users to Add to Project <%= @project.title %></h3>
<strong>(Admins don't need to be added)</strong>

<table class="table table-striped table-bordered">
  <thead class="table-light">
    <tr>
      <th>Email</th>
      <th><%= t('.actions', default: t("helpers.actions")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @other_users.each do |other_user| %>
      <tr>
        <td><%= other_user.email %></td>
        <td>
          <%= button_to "Add", add_user_tenant_project_path(@project, tenant_id: @tenant.id, user_id: other_user.id), 
              method: :post, class: "btn btn-s btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back',
            tenant_project_path(@tenant, @project),
            class: 'btn btn-primary mt-3' %>